conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  /*
   * added by Shuye: conda config --set auto_activate_base false --env; 
   */

  beforeScript = "conda config --set auto_activate_base false --env; export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1"

  withLabel:bowtie{ conda = "${projectDir}/environment.yml" }
  withLabel:fastqc{ conda = "${projectDir}/environment.yml" }
  withLabel:python{ conda = "${projectDir}/environment.yml" }
  withLabel:perl{ conda = "${projectDir}/environment.yml" }
  withLabel:star{ conda = "${projectDir}/environment.yml" }
  withLabel:rsem{ conda = "${projectDir}/environment.yml" }
  withLabel:trimGalore{ conda = "${projectDir}/environment.yml" }
  
}
